
.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #030303;
    height: 10vh;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.x{
    width: 100%;
}
.item-nav{
    color: #7E8CCD;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
}